*{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
    font-size: 24px/100%;
    border: none;
    background: transparent;
    border-collapse: collapse;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: Next;
    src: url(../fonts/Next.otf); 
}
body{
    font-family:Next, Helvetica ,Arial, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.row{
}
.row_flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.col{
}
.col_flex{
    display: flex;
}
.col-1{
    flex: 1 1 0em;
}
.col-2{
    flex: 2 1 0em;
}
.col-3{
    flex: 3 1 0em;
}
.col-4{
    flex: 4 1 0em;
}
